<div class="bodyText">
{{#if user}}
<a href="/snippets/new">Create new snippet</a>
<br><br>
<ul>
{{#each snippets}}
  <li>
      <div class="listSnippet">
  <b><a class="link snippetTitle" href="/snippets/view/{{this._id}}">{{this.title}}</a></b><br>
  <textarea cols="40" rows="5" name="data" class="snippetText" readonly>{{this.data}}</textarea><br>
  <a href="/snippets/edit/{{this._id}}">Edit</a>
  <a href="/snippets/delete/{{this._id}}">Delete</a>
  <div>
  </li><br>
{{/each}}
</ul>
{{else}}
<H2>Please log in to create, edit and delete snippets!</H2>
<ul>
{{#each snippets}}
  <li>
      <div class="listSnippet">
          <b><a class="link snippetTitle" href="/snippets/view/{{this._id}}">{{this.title}}</a></b><br>
          <textarea cols="40" rows="5" name="data" class="snippetText" readonly>{{this.data}}</textarea><br>
    <div>
  </li><br>
{{/each}}
</ul>
{{/if}}
</div>
